.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    margin-top: 150px;
    /* margin-left: 10px;
   box-shadow: 0px 0px 20px #DF8908;
   border-radius: 50%; */
   
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-resume a{
    text-decoration: none;
    color: white;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg,#DF8908 -5.09%,#B415FF 106.28%);
    cursor: pointer;
     transition: calc(1.5s);
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
    transition: calc(1.5s);
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    border-color: #B415FF;
}
@media(max-width:768px){
    .hero img{
        margin-top: 120px;
        width: 260px;
    }
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;

    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}



/*
 * Resume Modal Styles
 */


.resume-modal-backdrop {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 1000;
}

.resume-modal-content {
  position: relative;
  width: 80%;
  height: 90%;
  
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  
  padding: 20px;
  box-sizing: border-box;
}

.resume-modal-content iframe {
  width: 100%;
  height: 100%; 
  border: none;
  border-radius: 6px;
}


.resume-modal-close {
  position: absolute;
  top: -10px;
  right: -10px;
  
  width: 30px;
  height: 30px;
  border-radius: 50%;
  
  background-color: #333;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  
  border: none;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  line-height: 1;
  z-index: 1001;
}

.resume-modal-close:hover {
  background-color: #ff0000;
}